@{
  Layout = "Views.de.Layout.cshtml";
}

<h1>Willkommen bei Skelvy!</h1>
<p>Vielen Dank für deine Registrierung. Wir empfehlen dir, Skelvy mit deinen Freunde zu teilen. Die App ist noch relativ neu, daher kann es im Moment noch ein wenig dauern, bis du Anfragen findest.</p>
<p>Falls du irgendwelche Fragen hast, etwas nicht funktioniert oder du Ideen hast, melde dich über unsere Webseite.</p>
<p>Diese E-Mail ist Teil des Registrierungsprozesses. Viel Spaß!</p>
