@{
  Layout = "Views.de.Layout.cshtml";
}

<h1>Bis bald auf Skelvy!</h1>
<p>Diese E-Mail ist Teil des Löschvorgangs deines Kontos. Nach einer übergangsweisen Erhaltung aus Sicherheitsgründen werden deine Daten gelöscht werden.</p>
