@{
  Layout = "Layout.cshtml";
}

<h1>Witamy w Skelvy!</h1>
<p>Dziękujemy za utworzenie konta. Zachęcamy Cię do zaproszenia znajomych do społeczności Skelvy. Platforma jest stosunkowo nowa, więc znalezienie nowych spotkań może zająć chwilkę.</p>
<p>Jeśli masz pytania, jakaś funkcja nie działa prawidłowo lub masz nowe pomysły jak ulepszyć Skelvy napisz do nas. Możesz skontaktować się z nami bezpośrednio za pomocą naszej strony internetowej.</p>
<p>Ta wiadomść jest częścią procedury tworzenia konta. Powodzenia!</p>
