@model dynamic
@{
  Layout = "Views.pl.Layout.cshtml";
}

<h1>Żegnaj ze Skelvy!</h1>
<p>Z powodu naruszenia naszych Warunków korzystania z usługi Twoje konto zostało zablokowane.</p>
<p>Powód w języku angielskim: @Model.Reason</p>
