@{
    Layout = "~/Views/Layout.cshtml";
}

<!--<h1>Welcome to service! &nbsp;</h1>-->
<!--<p>Your account has been created. Feel free to share your experience.</p>-->

<h1 style="color: #5346ee; font-family: sans-serif; line-height: 1.4; margin: 0; margin-bottom: 10px; font-size: 35px; font-weight: 300;">Welcome to service! &nbsp;</h1>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; color: #444449; margin: 0; margin-bottom: 15px;">Your account has been created. Feel free to share your experience.</p>
