@{
    Layout = "~/Views/Layout.cshtml";
}

<!--<h1>Your account was successfully deleted! &nbsp;</h1>-->
<!--<p>This email is part of the account deleting procedure.</p>-->

<h1 style="color: #5346ee; font-family: sans-serif; line-height: 1.4; margin: 0; margin-bottom: 10px; font-size: 35px; font-weight: 300;">Your account was successfully deleted! &nbsp;</h1>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; color: #444449; margin: 0; margin-bottom: 15px;">This email is part of the account deleting procedure.</p>
