@{
  Layout = "Views.ru.Layout.cshtml";
}

<h1>Добро пожаловать в Skelvy!</h1>
<p>Благодарим за создание аккаунта. При желании можете порекомендовать Skelvy своим знакомым. Так как платформа довольно таки молода, поиск новых встреч может занять некоторое время.</p>
<p>Если у вас есть какие-либо вопросы, приложение не работает должным образом или у вас есть новые идеи, не стесняйтесь сообщить это нам. Вы можете связаться с нами напрямую через наш сайт.</p>
<p>Это электронное письмо является частью процедуры создания учетной записи. Удачи!</p>
