@model dynamic
@{
  Layout = "Views.ru.Layout.cshtml";
}

<h1>Прощай, Скелви!</h1>
<p>Из-за нарушения наших Условий Пользования ваша учетная запись была заблокирована.</p>
<p>Причина: @Model.Reason</p>
