@{
  Layout = "Views.ru.Layout.cshtml";
}

<h1>Прощай, Скелви!</h1>
<p>Это электронное письмо является частью процедуры удаления учетной записи. После срока сохранения безопасности ваши данные исчезнут.</p>
