@{
  Layout = "Views.it.Layout.cshtml";
}

<h1>Benvenuto in Skelvy!</h1>
<p>Grazie per aver creato un account. Ti suggeriamo di invitare i tuoi amici ad usare Skelvy. La piattaforma è di recente creazione, quindi trovare nuovi incontri richiede un po’ di tempo.</p>
<p>Se hai qualche domanda,qualche funzione del dispositivo non funziona propriamente o hai qualche nuova idea per migliorare la piattaforma non esitare a farcelo sapere.</p>
<p>Questa email fa parte della procedura di creazione dell’account. Benvenuto!</p>
