@model dynamic
@{
  Layout = "Views.it.Layout.cshtml";
}

<h1>Arrivederci da Skelvy!</h1>
<p>Due to violating our Terms of Service, your account has been disabled.”: "Il tuo account è stato disattivato in seguito alla violazione dei termini di servizio.</p>
<p>Ragione: @Model.Reason</p>
