@{
  Layout = "Layout.cshtml";
}

<h1>Welcome to Skelvy!</h1>
<p>Thank you for creating an account. We really encourage you to invite your friends to Skelvy. The platform is relatively new, so finding new meetings might take some time.</p>
<p>If you have any questions, some functionality doesn’t work properly or have some new ideas don’t hesitate to let us know. You can reach us directly using our website.</p>
<p>This email is part of the account creating procedure. Good luck!</p>
