@{
  Layout = "Views.fi.Layout.cshtml";
}

<h1>Tervetuloa Skelvyyn!</h1>
<p>Kiitos tilin luomisesta. Kannustamme sinua kutsumaan ystäviäsi Skelvyyn. Alusta on suhteellisen uusi, joten uusien tapaamisten löytäminen voi viedä hetken.</p>
<p>Jos sinulla on kysyttävää, tai jotkut toiminnot eivät toimi kunnolla tai jos sinulla on uusia ideoita, älä epäröi kertoa meille. Voit tavoittaa meidät suoraan verkkosivuillamme.</p>
<p>Tämä sähköposti on osa tilin luontimenettelyä. Onnea!</p>
