@{
  Layout = "Views.fr.Layout.cshtml";
}

<h1>Bienvenue sur Skelvy !</h1>
<p>Merci d’avoir créé votre compte. Nous vous encourageons à inviter vos amis sur Skelvy. La plateforme est récente, trouver des événements peut prendre un certain moment.</p>
<p>Si vous avez la moindre question, des fonctionnalités qui ne fonctionnent pas correctement ou bien des idées nouvelles à nous soumettre n’hésitez pas à nous le faire savoir. Vous pouvez nous contacter directement sur notre site internet.</p>
<p>Cet e-mail fait partie de la procédure de création de compte.</p>
