@model dynamic
@{
  Layout = "Views.fr.Layout.cshtml";
}

<h1>A bientôt sur Skelvy !</h1>
<p>En raison d’une violation de nos Conditions de Service, votre compte a été désactivé.</p>
<p>Reason: @Model.Reason</p>
