@{
  Layout = "Views.fr.Layout.cshtml";
}

<h1>A bientôt sur Skelvy !</h1>
<p>Cet e-mail fait partie de la procédure de suppression de compte. Après la période de rétention de sécurité vos données seront effacées.</p>
