@{
  Layout = "Layout.cshtml";
}

<h1>Bienvenidos a Skelvy!</h1>
<p>Gracias por crear tu cuenta. Invita tus amigos a Skelvy, para que nuestra comunidad puede seguir creciendo y mejorando. La aplicación todavía está relativamente nuevo, por eso encontrar reuniones nuevos puede llevar un poco de tiempo.</p>
<p>If you have any questions, some functionality doesn’t work properly or have some new ideas don’t hesitate to let us know. You can reach us directly using our website.”: “Si tienes preguntas, ideas o algo no está funcionando correctamente, nos puedes contactar directamente a través de nuestra página web.</p>
<p>Este correo electrónico forma parte del procedimiento de creación de tu cuenta. ¡Que te diviertes!</p>
