@model dynamic
@{
  Layout = "Views.es.Layout.cshtml";
}

<h1>¡Adiós desde Skelvy!</h1>
<p>Debido a la violación de nuestros Términos de Servicio, tu cuenta ha sido desactivada.</p>
<p>Razón: @Model.Reason</p>
