@{
  Layout = "Layout.cshtml";
}

<h1>¡Adiós desde Skelvy!</h1>
<p>Este correo electrónico forma parte del procedimiento de la eliminación de tu cuenta. Después de la ventana de retención de seguridad tus datos desaparecerán.</p>
